@charset "utf-8";
/* CSS Document */
/* CSS Document */
.menu{/* pode ser background-color */
    background: rgb(181, 212, 247);
}
/* Remove bolinhas das listas, numeração */
.menu .menu-list, .menu .sub-menu{
    list-style: none;
}
/* Configura os links ativos */
.menu a{
    color: rgb(3, 3, 250);
    text-decoration: none; /* remove sublinhado do texto do link*/
    display: block;/* auto ajuste */
    cursor: pointer;
    text-transform: uppercase;/* upper escrito no menu fique em letras maius*/
    font-size: 12px;
    font-weight: 700;
    letter-spacing:0.2em;
}
/* Faz os <li>s ficarem na horizontal */
.menu > .menu-list > li{
    float: left;
    position: relative;
}
/*Configura os links do menu principal */
.menu > .menu-list > li > a {
    padding: 20px;/*espaçamento dos elementos */
    margin: 0 5px; /*Não esquecer o margin */
    background:  rgb(181, 212, 247)000;
  }
/* Configura o fundo do menu principal quando com mouse hover */
.menu > .menu-list > li:hover a {
    background: #89888d;
  }
  /* Mostra o submenu no evento de mouse hover */
  .menu > .menu-list > li:hover > .sub-menu {
    display:block;
  }  
/* Configura o estilo do submenu */
.menu > .menu-list > li > .sub-menu {
    position: absolute;
    top: 50px;
    left: 5px;
    background: blue;
    min-width: 200px;
    z-index: 1000;/* vai para frente dos outros submenus */
    display: none;
  }
  /* Configura espaçmento dos links do submenu */
  .menu > .menu-list > li > .sub-menu > li > a {
      padding: 30px 50px;
  }
  /* Clearfix para o menu, esconder submenu */
  .menu:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  /*menu*/

.menu{/*CSS do NAV*/
  background-color:#fff;
  width:80%;
  padding-left:60%;	
}

#menu{/*CSS do NAV*/
	background-color:#fff;
	width:80%;
	padding-left:60%;	
}
#menu a{/*CSS da classe a:active*/
	   width:30px;
	   height:10px;
	   color:#FFBF00;
	   text-decoration:none;
	   font-size:26px;
	   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	   list-style:none;
	   font-weight: 700;
	   letter-spacing:0.2em;
}
#menu a:hover{/*CSS da classe a:hover*/
	 text-decoration:none;
	 color:#D8D8D8;
	 }
	 #menu > .menu-list > li{
	float: left;
	position: relative;
	list-style:none;
	padding: 15px;
	margin: 0 5px;
}
footer{
	color: #000033;
	background-color: #FFF;
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 18px;
	clear: both;
	
	text-decoration: none;
}
